@charset "UTF-8";
@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 490px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #fb4c01;
    font-size: 40px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 30px 0;
    font-size: 20px;

}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades {
    padding: 110px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    transition: .2s;
    margin-top: 46px;
    border-radius: 25px;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff71;
}

.especialidades .especialidades-box i {
    font-size: 68px;
    color: #fb4c01;
}

.especialidades .especialidades-box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/*ESTILO DO SOBRE*/

section.sobre{
    padding: 40px 4%;

}
section.sobre .flex{
   align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #fb4c01;
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #fb4c01;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*ESTILO PORTIFOLIO*/

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff36;
}
section.portfolio .flex{
    justify-content: space-around;
}
.img-port {
    width: 360px;
    height: 460px;
    background-color: #fb4c01;
}