* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;


}

.btn1 {
    color: #ffffff;
    background-color: #4d4d4d;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;
}


.bod {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnContato1,
.btnContato2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #781d2f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    font-family: 'Arial', sans-serif;

}


.btnContato1:hover {
    background-color: #0056b3;
}


.txt-animado {
    font-size: 10px;
    font-family: "Bebas Neue", serif;

}

.txt-animado span {
    position: relative;
    font-size: 30px;
}

.txt-animado span::before {
    content: "";
    color: #353535;
    animation: palavras 35s infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #353535;
    right: -10px;
    animation: cursor .8s infinite, digita 35s steps(25) infinite;
    width: calc(100% + 12px);
    background-color: #ffffff;
}

@keyframes digita {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 12px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid #ffffff;

    }

}

@keyframes palavras {

    0%,
    20% {
        content: "HELLO, MY NAME IS PAULO";
    }

    21%,
    40% {
        content: "NICE TO MEET YOU";
    }

    41%,
    60% {
        content: "WELCOME FOR MY WEBSITE";
    }

    61%,
    80% {
        content: "WHAT DO YOU SEARCH HERE?";
    }

    81%,
    100% {
        content: "THANKS, COME BACK ";
    }
}

img {
    flex: 1;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 610px;
    object-fit: cover;
}



@media screen and (max-width: 1220px) {
    .container {
        flex-direction: column-reverse;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .txt-animado {
        display: flex;
        justify-content: center;
    }

    .btninicio {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .eu {
        display: block;
        margin: 0 auto;
        width: 70%;
    }

    .btninicio:last-child {
        margin-right: 0;
    }

    .btncentral {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .btnContato1{
        display: none;
    }
    
}